* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.nav__container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    padding: 5%;
    background-color: #3498db;
    overflow: hidden;
    z-index: 1;
}

.nav__container img {
    width: 40px;
    float: left;
    margin-top: 2%;
}

.nav__container a {
    text-decoration: none;
}

.nav__container a img {
    width: 30%;
    float: left;
    margin-left: 12%;
    position: absolute;
    bottom: 0;
}

.nav__container h1 {
    display: none;
    width: 30%;
    float: left;
    /* margin-left: 22%; */
    color: white;
}

.nav__social-media {
    display: hidden;
}

.nav__social-media a {
    float: right;
    margin-left: 5%;
}

.nav__social-media img {
    height: 10px;
}

.main {
    padding: 5%;
    position: relative;
    margin-top: 13%;
}

.main__carousel {
    margin-top: 15%;
}

.main__img {
    width: 100%;
    position: relative;
    margin: 5% 0;
}

.main__img-caption {
    display: block;
    position: absolute;
    top: 75%;
    width: 60%;
    padding: 2%;
    background: #3498db;
    opacity: 0.9;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
}

.main__bolas {
    width: 100%;
    margin: 2% 41% 8% 41%;
}

.main__bola {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 1%;
    background: grey;
    border-radius: 50%;
}

.main__bola:nth-child(1) {
    background: #3498db;
}

section {
    margin-bottom: 10%;
}

.main__img-caption-red {
    display: block;
    position: absolute;
    top: 75%;
    width: 30%;
    padding: 2%;
    background: #e74c3c;
    opacity: 0.9;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
}

.main__article {
    margin: 5% 0;
}

.main__article h4 {
    margin: 2% 0;
    text-transform: uppercase;
    color: #3498db;
}

.main__lista {
    margin-top: 8%;
}

.main__lista h3 {
    color: #3498db;
}

.main__lista a {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    list-style-type: none;
}

.main__lista li {
    margin: 5% 0;
}

.main__section-lado {
    margin: 10% 0;
}

.main__section-lado h3, h4 {
    color: #e74c3c;
}

.main__section-lado article {
    margin: 5% 0;
    overflow: hidden;
}

.main__section-lado img {
    width: 50%;
    height: 170px;
    float: left;
}

.main__section-lado div {
    width: 40%;
    float: left;
    margin-left: 5%;
}

.main__publicid {
    width: 70%;
    margin: 10% auto;
}

.main__publicid h5 {
    text-align: right;
    opacity: 0.5;
    margin-bottom: 1%;
    font-size: 0.7em;
}

footer div {
    display: inline-block;
    width: 100%;
    background: #3498db;
}

footer img {
    width: 18px;
    float: right;
    margin: 3% 5% 0 0;
}

footer h3 {
    width: 50%;
    float: right;
    padding: 3% 2%;
    text-align: right;
    text-transform: uppercase;
    color: white;
    font-size: 1em;
    font-weight: lighter;
}

footer p {
    padding: 7% 5%;
    background: #2c3e50;
    color: white;
}